.container {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background: linear-gradient(135deg, #0C2963 30%, #190808 100%); /* Gradiente de fundo */
  border-radius: 10px;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

.descriptionvv {
  color: #ffffff !important;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.3rem;
}

.input {
  margin: 10px;
  padding: 12px;
  width: 80%;
  max-width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #0c2963;
  outline: none;
}

.button {
  margin-top: 15px;
  padding: 10px 32px;
  background-color: #fff !important;
  color: #190808 !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #1d3b85;
}

.mensagemSucesso {
  margin-top: 15px;
  color: green;
  font-weight: bold;
  font-size: 18px;
}

.qrCodeContainer {
  margin-top: 20px;
}

.qrCodeLabel {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #0C2963;
  font-size: 18px;
}

.totalVendas p{
  color: #fff;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

.qrCodeLabel{
  color: #fff;
}

.contador{

  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

/* Responsividade */
@media (max-width: 768px) {
  .input {
    width: 90%; /* Aumenta a largura em telas menores */
    font-size: 14px; /* Reduz o tamanho da fonte */
  }

  .button {
    padding: 8px 24px; /* Ajusta o padding do botão */
  }

  .descriptionvv {
    font-size: 1.1rem; /* Reduz o tamanho da fonte da descrição */
  }
}

@media (max-width: 480px) {
  .logo {
    width: 100px; /* Reduz o tamanho da logo em telas muito pequenas */
  }

  .descriptionvv {
    font-size: 1rem; /* Tamanho menor da fonte */
  }

  .input {
    font-size: 12px; /* Reduz ainda mais o tamanho da fonte */
  }

  .button {
    width: 100%; /* Botão ocupa toda a largura */
    padding: 10px; /* Ajusta o padding do botão */
  }
}