.thank-you-container {
    text-align: center;
    padding: 20px;
    align-items: center;
  }
  
  .thank-you-title {
    font-size: 24px;
    margin: 20px 0;
    color: #fff;
  }
  
  .thank-you-message {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
  }